:root {
    font-family: "Varela Round";
}

.editor {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.actionsRow {
    display: flex;
    gap: 1.5vw;
    font-size: 2vw;
    padding: 1vw;
    border-radius: 10px;
    justify-content: center;
}

.actionsRow .row {
    background-color: white;
    box-shadow: 2px 2px 2px black;
    display: flex;
    padding: 0.8vw;
    border-radius: 5px;
    color: black;
}

.actionsRow .row:hover {
    cursor: pointer;
}

.actionsRow .remove {
    color: black;
}

.actionsRow .remove:hover {
    animation: removeHover 0.15s linear;
    animation-fill-mode: forwards;
}

@keyframes removeHover {
    from {background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);}
    to   {background-color: rgb(255, 0, 0); color: rgb(255, 255, 255);}
}

.actionsRow .remove .trash {
    width: 1.3vw;
    margin-right: 0.3vw;
}

.actionsRow .remove:hover .trash {
    animation: removeHoverIcon 0.15s linear;
    animation-fill-mode: forwards;
}

@keyframes removeHoverIcon {
    from {filter: brightness(0) saturate(100%) invert(0%) sepia(1%) saturate(7494%) hue-rotate(329deg) brightness(107%) contrast(97%);}
    to   {filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(235deg) brightness(109%) contrast(101%);}
}

.actionsRow .example:hover {
    animation: exampleHover 0.15s linear;
    animation-fill-mode: forwards;
}

@keyframes exampleHover {
    from {color: black; background-color: white;}
    to {color: white; background-color: rgb(15, 0, 180);}
}

.actionsRow .download:hover {
    animation: downloadHover 0.15s linear;
    animation-fill-mode: forwards;
}

@keyframes downloadHover {
    from {color: black; background-color: white;}
    to {color: white; background-color: rgb(27, 180, 0);}
}

.actionsRow .downloadIcon {
    height: 1.5vw;
    margin-right: 0.3vw;
}

.actionsRow .download:hover .downloadIcon {
    animation: downloadIconHover 0.15s linear;
    animation-fill-mode: forwards;
}

@keyframes downloadIconHover {
    from {filter: brightness(0) saturate(100%) invert(0%) sepia(1%) saturate(7494%) hue-rotate(329deg) brightness(107%) contrast(97%);}
    to   {filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(235deg) brightness(109%) contrast(101%);}
}

.personal {
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
    background-color: white;
    padding: 1.5vw 2vw;
    border-radius: 10px;
    box-shadow: 2px 2px 2px black;
    border-left: 20px solid blue;
    font-size: 1vw;
}

.personal header {
    font-size: 2vw;
}

.personal .inputs {
    display: flex;
    font-size: 1.5vw;
}

.personal .inputs .leftSide {
    margin-right: auto;
}

.personal .inputs .rightSide {
    margin-right: auto;
    margin-left: auto;
}

.personal input {
    background-color: rgb(201, 201, 201);
    border: none;
    border-radius: 5px;
    height: 1.3em;
    width: 100%;
    text-align: center;
    font-family: "Varela Round";
    font-size: 1.2vw;
    padding: 0 0.6vw;
}

.personal .inputGap {
    margin-bottom: 20px;
}

.infoBars {
    display: flex;
    background-color: white;
    padding: 1.1vw 2vw;
    border-radius: 10px;
    box-shadow: 2px 2px 2px black;
    border-left: 1vw solid blue;
    cursor: pointer;
}

.infoBars .headerText {
    font-size: 1.8vw;
    margin-right: auto;
    margin-left: 1vw;
}

.infoBars img {
    width: 2.3vw;
    vertical-align: bottom;
}

.infoBars .caret {
    width: 2.6vw;
}

.showMore {
    background-color: white;
    margin-left: 1vw;
    margin-bottom: 1vh;
    border-radius: 10px;
    padding: 1.1vw 2vw;
    font-size: 1.2vw;
    display: flex;
    border-left: 1vw solid rgb(0, 204, 255);
    justify-content: center;
    align-items: center;
}

.showMore .iconList {
    display: flex;
    gap: 0.5vw;
}

.showMore .schoolName {
    margin-right: auto;
}

.showMore .icon {
    height: 3vh;
    cursor: pointer;
}

.showMore .editIcon:hover {
    filter: brightness(0) saturate(100%) invert(12%) sepia(69%) saturate(6702%) hue-rotate(233deg) brightness(112%) contrast(120%);
}

.showMore .trashIcon:hover {
    filter: brightness(0) saturate(100%) invert(16%) sepia(83%) saturate(6188%) hue-rotate(357deg) brightness(104%) contrast(115%);
}

.editScreen {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1vh;
    border-radius: 10px;
    padding: 1.1vw 2vw;
    font-size: 1.2vw;
    border-left: 1vw solid rgb(0, 204, 255);
    text-align: center;
    width: 70%;
}

.editScreen input {
    background-color: rgb(201, 201, 201);
    border: none;
    border-radius: 5px;
    height: 1.3em;
    width: 50%;
    text-align: center;
    font-family: "Varela Round";
    font-size: 1vw;
    margin-bottom: 1vh;
}

.editScreen .checkbox {
    width: fit-content;
}

.doneButton {
    background-color: white;
    color: black;
    border-radius: 10px;
    border: 0.2vw solid black;
    width: fit-content;
    padding: 1vh 1vw;
    display: flex;
    margin: 0px auto;
    cursor: pointer;
}

.doneButton:hover {
    animation: doneButtonHover 0.15s linear;
    animation-fill-mode: forwards;
}

@keyframes doneButtonHover {
    from {background-color: white; color: black}
    to {background-color: green; color: white}
}

.presentCheckBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1vh;
}

.addMore {
    justify-content: center;
    align-items: center;
    gap: 0.5vw;
    cursor: pointer;
    border-left: none;
}

.addIcon {
    height: 1.4vh;
}

.eyeShut {
    filter: brightness(0) saturate(100%) invert(13%) sepia(100%) saturate(7180%) hue-rotate(360deg) brightness(106%) contrast(113%);
}

.eyeIcon {
    filter: brightness(0) saturate(100%) invert(22%) sepia(64%) saturate(1671%) hue-rotate(103deg) brightness(96%) contrast(107%);
}