:root {
    font-family: "Varela Round";
}

.editor {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.actionsRow {
    display: flex;
    gap: 1.5vw;
    font-size: 2vw;
    padding: 1vw;
    border-radius: 10px;
    justify-content: center;
}

.actionsRow .row {
    background-color: white;
    box-shadow: 2px 2px 2px black;
    display: flex;
    padding: 0.8vw;
    border-radius: 5px;
    color: black;
}

.actionsRow .row:hover {
    cursor: pointer;
}

.actionsRow .remove {
    color: black;
}

.actionsRow .remove:hover {
    animation: removeHover 0.15s linear;
    animation-fill-mode: forwards;
}

@keyframes removeHover {
    from {background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);}
    to   {background-color: rgb(255, 0, 0); color: rgb(255, 255, 255);}
}

.actionsRow .remove .trash {
    width: 1.3vw;
    height: fit-content;
    margin-right: 0.3vw;
}

.actionsRow .remove:hover .trash {
    animation: removeHoverIcon 0.15s linear;
    animation-fill-mode: forwards;
}

@keyframes removeHoverIcon {
    from {filter: brightness(0) saturate(100%) invert(0%) sepia(1%) saturate(7494%) hue-rotate(329deg) brightness(107%) contrast(97%);}
    to   {filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(235deg) brightness(109%) contrast(101%);}
}

.actionsRow .example:hover {
    animation: exampleHover 0.15s linear;
    animation-fill-mode: forwards;
}

@keyframes exampleHover {
    from {color: black; background-color: white;}
    to {color: white; background-color: rgb(15, 0, 180);}
}

.actionsRow .download:hover {
    animation: downloadHover 0.15s linear;
    animation-fill-mode: forwards;
}

@keyframes downloadHover {
    from {color: black; background-color: white;}
    to {color: white; background-color: rgb(27, 180, 0);}
}

.actionsRow .downloadIcon {
    height: 1.5vw;
    margin-right: 0.3vw;
}

.actionsRow .download:hover .downloadIcon {
    animation: downloadIconHover 0.15s linear;
    animation-fill-mode: forwards;
}

@keyframes downloadIconHover {
    from {filter: brightness(0) saturate(100%) invert(0%) sepia(1%) saturate(7494%) hue-rotate(329deg) brightness(107%) contrast(97%);}
    to   {filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(235deg) brightness(109%) contrast(101%);}
}

.personal {
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
    background-color: white;
    padding: 1.5vw 2vw;
    border-radius: 10px;
    box-shadow: 2px 2px 2px black;
    border-left: 20px solid blue;
}

.personal header {
    font-size: 2vw;
}

.personal .inputs {
    display: flex;
    font-size: 1.5vw;
}

.personal .inputs .leftSide {
    margin-right: auto;
}

.personal .inputs .rightSide {
    margin-right: auto;
    margin-left: auto;
}

.personal input {
    background-color: rgb(201, 201, 201);
    border: none;
    border-radius: 5px;
    height: 1.3em;
    width: 100%;
    text-align: center;
    font-family: "Varela Round";
    font-size: 1.2vw;
    padding: 0 0.6vw;
}

.personal .inputGap {
    margin-bottom: 20px;
}

.infoBars {
    display: flex;
    background-color: white;
    padding: 1.1vw 2vw;
    border-radius: 10px;
    box-shadow: 2px 2px 2px black;
    border-left: 1vw solid blue;
    cursor: pointer;
}

.infoBars .headerText {
    font-size: 1.8vw;
    margin-right: auto;
    margin-left: 1vw;
}

.infoBars img {
    width: 2.3vw;
    vertical-align: bottom;
}

.infoBars .caret {
    width: 2.6vw;
}

.showMore {
    background-color: white;
    margin-left: 1vw;
    margin-bottom: 1vh;
    border-radius: 10px;
    padding: 1.1vw 2vw;
    font-size: 1.5vw;
    display: flex;
    border-left: 1vw solid rgb(0, 204, 255);
    justify-content: center;
    align-items: center;
}

.iconList {
    display: flex;
    gap: 0.5vw;
    margin-left: auto;
}

.icon {
    height: 3vh;
    cursor: pointer;
}

.showMore .editIcon:hover {
    filter: brightness(0) saturate(100%) invert(12%) sepia(69%) saturate(6702%) hue-rotate(233deg) brightness(112%) contrast(120%);
}

.trashIcon:hover {
    filter: brightness(0) saturate(100%) invert(16%) sepia(83%) saturate(6188%) hue-rotate(357deg) brightness(104%) contrast(115%);
}

.editScreen {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1vh;
    border-radius: 10px;
    padding: 1.1vw 2vw;
    font-size: 1.5vw;
    border-left: 1vw solid rgb(0, 204, 255);
    text-align: center;
    width: 70%;
}

.editScreen input {
    background-color: rgb(201, 201, 201);
    border: none;
    border-radius: 5px;
    width: 50%;
    text-align: center;
    font-family: "Varela Round";
    font-size: 1.3vw;
    margin-bottom: 1vh;
}

.editScreen .checkbox {
    width: fit-content;
}

.doneButton {
    background-color: white;
    color: black;
    border-radius: 10px;
    border: 0.2vw solid black;
    width: fit-content;
    padding: 1vh 1vw;
    display: flex;
    margin: 0px auto;
    cursor: pointer;
}

.doneButton:hover {
    animation: doneButtonHover 0.15s linear;
    animation-fill-mode: forwards;
}

@keyframes doneButtonHover {
    from {background-color: white; color: black}
    to {background-color: green; color: white}
}

.presentCheckBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1vh;
}

.addMore {
    justify-content: center;
    align-items: center;
    gap: 0.5vw;
    cursor: pointer;
    border-left: none;
}

.addIcon {
    height: 1vw;
}

.eyeShut {
    filter: brightness(0) saturate(100%) invert(13%) sepia(100%) saturate(7180%) hue-rotate(360deg) brightness(106%) contrast(113%);
}

.eyeIcon {
    filter: brightness(0) saturate(100%) invert(22%) sepia(64%) saturate(1671%) hue-rotate(103deg) brightness(96%) contrast(107%);
}

.trashBullet {
    height: 2vh;
    cursor: pointer;
    margin-left: 1vw;
}

.addDescBullet {
    display: flex;
    border: 0.2vw solid black;
    width: fit-content;
    padding: 1vh 1vw;
    border-radius: 10px;
    margin: 1vh auto 1vh auto;
    cursor: pointer;
    font-size: 1vw;
}

.addDescBullet img {
    margin-right: 0.5vw;
    height: 0.7vw;
}

.descriptionBullet input {
    width: 80%;
    height: 2vh;
    resize: both;
    padding: 1vh 1vw;
}

.skillInput {
    background-color: rgb(201, 201, 201);
    border: none;
    border-radius: 5px;
    height: 1.3em;
    width: 50%;
    text-align: center;
    font-family: "Varela Round";
    font-size: 1vw;
    margin-bottom: 1vh;
    padding: 1vh 1vw;
}

.skillsEditScreen {
    background-color: white;
    margin: 0 auto 1vh auto;
    border-radius: 10px;
    padding: 1.1vw 2vw;
    font-size: 1.2vw;
    display: flex;
    flex-direction: column;
    border-left: 1vw solid rgb(0, 204, 255);
    width: 70%;
}

.skillsEditScreen .skillsHeader {
    margin-bottom: 1vh;
}

.skillRow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.skillRow .iconList {
    margin-left: 2vw;
    padding-bottom: 0.5vw;
}

.skillsEditScreen .addMore {
    border: 0.2vw solid black;
    width: fit-content;
    height: fit-content;
    padding: 1vh 1vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vh;
}

.downIcon {
    margin-left: -0.5vw;
}

.upIcon:hover {
    filter: brightness(0) saturate(100%) invert(22%) sepia(64%) saturate(1671%) hue-rotate(103deg) brightness(96%) contrast(107%);
}

.downIcon:hover {
    filter: brightness(0) saturate(100%) invert(13%) sepia(100%) saturate(7180%) hue-rotate(360deg) brightness(106%) contrast(113%);
}

.expandAnimation {
    animation: expandAnimation 0.15s linear;
    animation-fill-mode: forwards;
}

@keyframes expandAnimation {
    from {opacity:0; translate: 0 -1vh}
    to {opacity:1; translate: 0 0vh}
}

@media (max-width: 1106px) {
    .actionsRow {
        font-size: 4.5vw;
        align-items: center;
    }

    .actionsRow .row {
        padding: 1vw;
        justify-content: center;
        align-items: center;
    }

    .actionsRow .remove .trash {
        width: 3vw;
    }

    .actionsRow .downloadIcon {
        height: 3.2vw;
    }

    .personal {
        gap: 3vw;
        padding: 5vw 7vw;
        border-left: 2vw solid blue;
    }

    .personal header {
        font-size: 4vw;
    }

    .personal .inputs {
        font-size: 3.5vw;
    }

    .personal input {
        border-radius: 10px;
        font-size: 3vw;
        padding: 0 1vw;
        width: 90%;
    }

    .infoBars {
        padding: 2.2vw 4vw;
        border-left: 2vw solid blue;
    }

    .infoBars .headerText {
        font-size: 4vw;
    }

    .infoBars img {
        width: 4vw;
    }

    .infoBars .caret {
        width: 4.5vw;
    }

    .showMore {
        padding: 2.2vw 4vw;
        font-size: 4vw;
        border-left: 2vw solid rgb(0, 204, 255);
    }

    .iconList {
        gap: 2vw;
    }

    .icon {
        height: 6vw;
    }

    .editScreen {
        padding: 2.2vw 4vw;
        font-size: 4vw;
        border-left: 2vw solid rgb(0, 204, 255);
    }

    .editScreen input {
        width: 50%;
        text-align: center;
        font-family: "Varela Round";
        font-size: 3vw;
        margin-bottom: 1vh;
    }

    input[type=checkbox] {
            -ms-transform: scale(1.5); 
            -moz-transform: scale(1.5); 
            -webkit-transform: scale(1.5); 
            -o-transform: scale(1.5); 
            transform: scale(1.5);
    }

    .doneButton {
        border: 0.7vw solid black;
        padding: 1vh 2vw;
        margin: 1vw auto;
    }

    .addIcon {
        height: 2vw;
    }

    .addDescBullet {
        font-size: 3vw;
    }

    .addDescBullet img{
        height: 2vw;
    }

    .skillInput {
        width: 50%;
        font-size: 3vw;
        padding: 1vh 1vw;
    }

    .skillsEditScreen {
        padding: 5vw 4vw;
        font-size: 4vw;
        border-left: 2vw solid rgb(0, 204, 255);
    } 
}